* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#casa {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

#casa:hover {
    height: 50px;
    width: 50px;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}


body {
    min-height: 100vh;
}

a:hover {
    color: #05F26C;
    font-size: large;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #084F8C;
    height: 10vh;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header ul li {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


#fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    padding-bottom: 50px;
    min-height: 90vh;
}

main {
    width: 70vw;
}

main #configuracoes {
    display: flex;

}

main #aba-lateral {
    background-color: #ffffff;
    border: #000 solid 1px;
    border-radius: 10px ;
    width: 30%;
    height: 70vh;
}

#aba-lateral ul {
    list-style: none;
}

#aba-lateral ul li {
    padding: 5px;
}

#togglemodoescuro {
    display: flex;
}

#opcoes ul {
    list-style: none;
}

#opcoes ul li {
    padding: 5px;
}

main #opcoes {
    background-color: #ffffff;
    border: #000 solid 1px;
    border-radius: 10px;
    width: 65%;
    margin-left: 5%;
    height: 70vh;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #084F8C;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 5vw;
}

@media (max-width: 800px) {

    body {
        height: auto;
        background-color: #000;
    }

    header {
        justify-content: center;
        align-items: center;
    }


    .hamburguer {
        display: block;
        opacity: 1;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 9vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #084F8C;
        transition: 0.3s;
        z-index: 3;
        height: 50%;
        font-size: large;
    }

    .nav-menu li {
        height: 100%;
        width: 100%;
    }

    .nav-menu li:hover {
        background-color: #0b2a45;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    #fundo {
        height: 100%;
        transition: 0.2s ease-in-out
    }

    #fundo.active {
        opacity: 0.5;
    }

    main{
        width: 100%;
    }
}   

/* configurações de modo escuro */

.modo-escuro {
    background-color: #161616 !important;
    color: #c1c1c1;
    transition: background-color 0.5s ease;
}

.modo-escuro #opcoes,
.modo-escuro #aba-lateral {
    background-color: #08253e;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .togglemodoescuro {
    display: flex;
    align-items: center;
  }
  
  .togglemodoescuro li {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .togglemodoescuro label {
    margin-right: 5px;
  }
  
  .togglemodoescuro .switch {
    cursor: pointer;
    width: 40px; /* 20% do tamanho normal (200px) */
    height: 20px; /* 20% do tamanho normal (100px) */
    background: grey;
    display: block;
    border-radius: 10px; /* Metade da altura para manter a proporção */
    position: relative;
  }
  
  .togglemodoescuro .switch:after {
    content: '';
    position: absolute;
    top: 1px; /* 20% do tamanho normal (10px) */
    left: 1px; /* 20% do tamanho normal (10px) */
    width: 18px; /* 20% do tamanho normal (80px) */
    height: 18px; /* 20% do tamanho normal (80px) */
    background: #fff;
    border-radius: 50%; /* Metade do tamanho para manter a proporção */
    transition: 0.3s;
  }
  
  .togglemodoescuro input:checked + .switch {
    background: #5584da;
  }
  
  .togglemodoescuro input:checked + .switch:after {
    left: calc(100% - 1px); /* 20% do tamanho normal (10px) */
    transform: translateX(-100%);
  }
  
  .togglemodoescuro .switch:active:after {
    width: 19px; /* 20% do tamanho normal (130px) */
    height: 19px; /* 20% do tamanho normal (130px) */
  }

  .togglemododaltonico {
    display: flex;
    align-items: center;
  }
  
  .modo-daltonico {
    transition: background-color 0.5s ease;
  }
  .togglemododaltonico li {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .togglemododaltonico label {
    margin-right: 5px;
  }
  
  .togglemododaltonico .switch {
    cursor: pointer;
    width: 40px; /* 20% do tamanho normal (200px) */
    height: 20px; /* 20% do tamanho normal (100px) */
    background: grey;
    display: block;
    border-radius: 10px; /* Metade da altura para manter a proporção */
    position: relative;
  }
  
  .togglemododaltonico .switch:after {
    content: '';
    position: absolute;
    top: 1px; /* 20% do tamanho normal (10px) */
    left: 1px; /* 20% do tamanho normal (10px) */
    width: 18px; /* 20% do tamanho normal (80px) */
    height: 18px; /* 20% do tamanho normal (80px) */
    background: #fff;
    border-radius: 50%; /* Metade do tamanho para manter a proporção */
    transition: 0.3s;
  }
  
  .togglemododaltonico input:checked + .switch {
    background: #5584da;
  }
  
  .togglemododaltonico input:checked + .switch:after {
    left: calc(100% - 1px); /* 20% do tamanho normal (10px) */
    transform: translateX(-100%);
  }
  
  .togglemododaltonico .switch:active:after {
    width: 19px; /* 20% do tamanho normal (130px) */
    height: 19px; /* 20% do tamanho normal (130px) */
  }
  

  .modo-daltonico {
    background-color: #161616 !important;
    color: #c1c1c1;
  }
  
  .modo-daltonico #opcoes,
  .modo-daltonico #aba-lateral {
    background-color: #08253e;
  }
  
  .modo-daltonico a {
    color: #ffffff;
  }
  
  .modo-daltonico a:hover {
    color: #05F26C;
  }
  
  .modo-daltonico header {
    background-color: #161616;
  }
  
  .modo-daltonico header ul li {
    color: #ffffff;
  }
  
  .modo-daltonico #fundo {
    background-color: #161616;
  }
  
  .modo-daltonico footer {
    background-color: #161616;
    color: #ffffff;
  }
  