* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: #05F26C;
    color: #000;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #084F8C;
    height: 10vh;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
}

header ul li {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    padding-bottom: 70px;
    height: 100%;
}

main {
    width: 70vw;
}

main #configuracoes {
    display: flex;

}

main #aba-lateral {
    background-color: #ffffff;
    border: #000 solid 1px;
    width: 30%;
    height: 70vh;
}

#aba-lateral ul {
    list-style: none;
}

#aba-lateral ul li {
    padding: 5px;
}

#opcoes ul {
    list-style: none;
}

#opcoes ul li {
    padding: 5px;
}

main #opcoes {
    background-color: #ffffff;
    border: #000 solid 1px;
    width: 65%;
    margin-left: 5%;
    height: 70vh;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #084F8C;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 5vw;
}


@media (max-width: 800px) {

    header ul li {
        font-size: 0.5em;
    }
}