* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#casa {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

#casa:hover {
    height: 50px;
    width: 50px;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}



body {
    min-height: 100vh;
    width: 100%;
}

a:hover {
    color: #05F26C;
    font-size: large;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #084F8C;
    height: 10vh;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header ul li {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


#fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    min-height: 90vh;
}


main {
    width: 70vw;
}

main h1 {
    margin: 20px;
}

div.noticia {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.noticia-imagem {
    display: flex;
    align-items: center;
    justify-self: center;
}

.noticia-texto {
    margin-left: 10px;
    width: 100%;
    height: 20vh;
    position: relative;
}

.noticia-texto p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.noticia-texto h5 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.imagem {
    height: 20vh;
    border: solid 1px black;
}

footer {
    display: flex;
    align-items: center;
    background-color: #084F8C;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 5vw;
}


@media (max-width: 800px) {

    body {
        height: auto;
        background-color: #000;
    }

    header {
        justify-content: center;
        align-items: center;
    }


    .hamburguer {
        display: block;
        opacity: 1;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 9vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #084F8C;
        transition: 0.3s;
        z-index: 3;
        height: 50%;
        font-size: large;
    }

    .nav-menu li {
        height: 100%;
        width: 100%;
    }

    .nav-menu li:hover {
        background-color: #0b2a45;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    #fundo {
        height: 100%;
        transition: 0.2s ease-in-out
    }

    #fundo.active {
        opacity: 0.5;
    }

    .noticia {
        flex-direction: column;
    }

    .noticia-imagem {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modo-escuro {
    background-color: #161616 !important;
    color: #c1c1c1;
}

.modo-escuro .noticia {
    background-color: #0e0d0d !important;
}