* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#casa {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

#casa:hover {
    height: 50px;
    width: 50px;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}


body {
    min-height: 100vh;
}

a:hover {
    color: #05F26C;
    font-size: large;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #084F8C;
    height: 10vh;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header ul li {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


#fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #d9d9d9;
    min-height: 90vh;
}

#esquerda {
    position: fixed;
    left: 0;
    top: 15vh;
    background-color: #0b2a45;
    color: #ffffff;
    width: 30%;
    min-width: 300px;
    min-height: 60%;
    border: white solid 2px;
    border-radius: 10px;
    box-shadow: #000 3px 3px 10px;
}

#esquerda-imagens {
    position: relative;
    width: 100%;
    height: 150px;
}

#logo {
    position: absolute;
    z-index: 2;
    height: 100px;
    bottom: 0;
    border-radius: 10px;
    border: solid white 2px;
    left: 50%;
    transform: translateX(-50%);
}

#imagem-fundo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100px;
    width: 100%;
    border-bottom: solid white 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#ul-esquerda {
    list-style: none;
    font-weight: 500;
    font-size: 1.44em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}


.a-esquerda {
    justify-content: flex-start;
    padding: 10px;
    border-radius: 30px;
    display: inline;
}

.a-esquerda:hover {
    font-size: larger;
    background-color: #084F8C;
    color: #ffffff;
}

.a-esquerda.active {
    font-size: larger;
    background-color: #084F8C;
    color: #ffffff;
}

.principais {
    min-height: 90vh;
    padding-bottom: 50px;
    width: 70%;
    padding: 70px;
}


.principais .pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principais .pesquisa #input {
    height: 40px;
    width: 80%;
}

#sugestoes {
    padding-top: 40px;
    min-height: 50vh;
}

#sugestoes .sugestao {
    background-color: white;
    border: #000 solid 1px;
    border-radius: 5px;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#sugestoes .sugestao h1 {
    overflow-wrap: break-word;
}

#sugestoes .sugestao .foto-sugestao {
    margin: 20px;
    width: 100px;
    height: 100px;
    border: #000 solid 1px;
    border-radius: 50%;
}

#sugestoes .sugestao .dados {
    width: 30%;
}

#sugestoes .li-sugestao {
    list-style: none;
}

#sugestoes .sugestao .sugestao-bio {
    width: 60%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

footer {
    display: flex;
    align-items: center;
    background-color: #084F8C;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 5vw;
    margin-top: 20px;
}

.principais {
    display: none;
}

.principais.active {
    display: inline;
}

@media (max-width: 800px) {

    body {
        height: auto;
        background-color: #000;
    }

    header {
        justify-content: center;
        align-items: center;
    }


    .hamburguer {
        display: block;
        opacity: 1;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 9vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #084F8C;
        transition: 0.3s;
        z-index: 3;
        height: 50%;
        font-size: large;
    }

    .nav-menu li {
        height: 100%;
        width: 100%;
    }

    .nav-menu li:hover {
        background-color: #0b2a45;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    #fundo {
        height: 100%;
        transition: 0.2s ease-in-out;
        align-items: center;
    }

    #fundo.active {
        opacity: 0.5;
    }

    div#esquerda {
        width: 100%;
        height: auto;
        position: initial;
    }

    #ul-esquerda {
        align-items: center;
        height: auto;
        padding-left: 0;
    }

    .li-esquerda {
        padding: 10px;
    }

    #fundo .principais {
        padding: 0;
        width: 90%;
        margin-top: 50px;
    }

    #fundo .sugestao .dados {
        width: 60%;
    }

    #fundo .sugestao .sugestao-bio {
        display: none;
    }
}

.modo-escuro {
    background-color: #161616 !important;
    color: #c1c1c1;
}