* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#casa {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

#casa:hover {
    height: 50px;
    width: 50px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #05F26C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04BF8A;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}


body {
    height: 100vh;
}

a:hover {
    color: #05F26C;
    font-size: large;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #084F8C;
    height: 10vh;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header ul li {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


#fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    padding-bottom: 70px;
    height: 90vh;
}

#perfil {
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

#perfil #perfil-esquerda {
    background-color: #0b2a45;
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    border-radius: 10px;
    height: 70vh;
    color: #ffffff;
    border: white solid 2px;
    box-shadow: #000 3px 3px 10px;
}

#perfil-esquerda-texto {
    margin-top: 20px;
}

#perfil-esquerda-texto p {
    padding: 10px;
}

#perfil #perfil-esquerda ul {
    list-style: none;
}

#perfil #perfil-esquerda #perfil-fotos {
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    justify-self: center;
}

#perfil #perfil-esquerda #foto-perfil {
    position: absolute;
    z-index: 2;
    height: 100px;
    width: 100px;
    border-radius: 30%;
    border: solid white 2px;
    margin: 20px;
}

#perfil #perfil-esquerda #capa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid white 1px;
}

#perfil #perfil-esquerda #perfil-esquerda-texto {
    width: 100%;
    overflow-y: auto;
}

#perfil #perfil-esquerda #perfil-esquerda-texto h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.dados h5 {
    margin-left: 5px;
}

.contatos {
    display: flex;
    align-items: center;
    margin: 8px
}

.contatos-logo {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

#perfil #perfil-direita {
    justify-content: space-between;
    display: flex;
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

#perfil #perfil-direita #skills {
    background-color: #0b2a45;
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    border: white solid 2px;
    box-shadow: #000 3px 3px 10px;
}

#perfil #perfil-direita ul {
    list-style: none;
    padding: 7px;

}

.lista-skills {
    display: flex;
    flex-direction: column;
}

.li-skill {
    display: flex;
    align-items: center;
    border-bottom: rgba(255, 255, 255, 0.532) 1px solid;
    padding: 5px;
    justify-content: space-between;
}

.li-skill .nivel {
    display: flex;
    padding: 3px;
}

.dot {
    display: block;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
}

.dot.hollow {
    background-color: #000;
    border: 1px solid white;
}

#perfil #perfil-direita h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 4px solid white;
}

#perfil #perfil-direita #perfil-direita-hs,
#perfil #perfil-direita #perfil-direita-ss {
    width: 50%;
    overflow-y: auto;
}

#perfil #perfil-direita #perfil-direita-ss {
    border-left: 4px solid white;
}

#perfil #perfil-direita #atividades {
    background-color: #0b2a45;
    height: 27vh;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: white solid 2px;
    box-shadow: #000 3px 3px 10px;
}

#perfil #perfil-direita #atividades #atividades-esquerda {
    width: 60%;
    overflow-y: scroll;
}

#atividades-titulo {
    color: white;
    padding: 8px;
    padding-bottom: 0;
}

#perfil #perfil-direita #atividades #atividades-esquerda .atividades {
    background-color: #ffffff;
    border-bottom: #d9d9d9 solid 1px;
    padding: 3px;
}

.atividades .nome-icone {
    display: flex;
}


#perfil #perfil-direita #atividades #atividades-direita {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}


#perfil #perfil-direita #atividades #local {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #084F8C;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 5vw;
}

@media (max-width: 800px) {

    body {
        height: auto;
        background-color: #000;
    }

    header {
        justify-content: center;
        align-items: center;
    }


    .hamburguer {
        display: block;
        opacity: 1;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 9vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #084F8C;
        transition: 0.3s;
        z-index: 3;
        height: 50%;
        font-size: large;
    }

    .nav-menu li {
        height: 100%;
        width: 100%;
    }

    .nav-menu li:hover {
        background-color: #0b2a45;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    #fundo {
        height: 100%;
        transition: 0.2s ease-in-out
    }

    #fundo.active {
        opacity: 0.5;
    }

    #perfil {
        display: flex;
        flex-direction: column;
    }

    #perfil #perfil-esquerda,
    #perfil #perfil-direita {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    #perfil #perfil-direita #perfil-direita-hs,
    #perfil #perfil-direita #perfil-direita-ss {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: none;
        min-height: 250px;
    }

    #perfil #perfil-direita #perfil-direita-ss {
        border-top: 2px white solid;
    }

    #perfil-esquerda .dados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #perfil #perfil-direita #skills {
        flex-direction: column;
        height: auto;
    }
}

.modo-escuro {
    background-color: #161616 !important;
    color: #c1c1c1;
}

.modo-escuro #atividades, .modo-escuro .nome-icone, .modo-escuro #atividades h5 {
    background-color: #066c32 !important;
    color: #c1c1c1;
    border: #066c32 solid 2px;
    border-bottom: #066c32 solid 1px;

}

.modo-escuro #perfil #perfil-direita #atividades #atividades-esquerda .atividades {
    background-color: #066c32 !important;
}

.modo-daltonico {
    background-color: #161616 !important;
    color: #c1c1c1;
}

.modo-daltonico #atividades,
.modo-daltonico .nome-icone,
.modo-daltonico #atividades h5 {
    background-color: #225b48 !important;
    color: #c1c1c1;
    border: #225b48 solid 2px;
    border-bottom: #225b48 solid 1px;
}

.modo-daltonico #perfil #perfil-direita #atividades #atividades-esquerda .atividades {
    background-color: #225b48 !important;
}
