* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#casa {
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

#casa:hover {
    height: 50px;
    width: 50px;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}


body {
    min-height: 100vh;
    width: 100%;
}

a:hover {
    color: #05F26C;
    font-size: large;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #084F8C;
    height: 10vh;

}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header ul li {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


#fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    padding-bottom: 70px;
    min-height: 90vh;
}

h1#titulo {
    width: 70vw;
    padding: 15px;
}

main {
    width: 70vw;
    background-color: #ffffff;
    display: flex;
    min-height: 60vh;
}

main #main-esquerda,
main #main-direita {
    width: 50%;
}

#main-esquerda {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}


#main-esquerda .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding: 10px;
}

#main-esquerda .texto:nth-child(1) {
    padding-bottom: 2vh;
    border-bottom: #000 solid 1px;
}


#main-direita {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-direita #logo-fortes {
    width: 300px;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #084F8C;
    width: 100%;
    height: 50px;
    color: #ffffff;
    padding-left: 5vw;
}


@media (max-width: 800px) {

    body {
        background-color: #000;
        min-height: 100vh;
        height: auto;
    }

    header {
        justify-content: center;
        align-items: center;

    }


    .hamburguer {
        display: block;
        opacity: 1;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 9vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #084F8C;
        transition: 0.3s;
        z-index: 3;
        height: 50%;
        font-size: large;
    }

    .nav-menu li {
        height: 100%;
        width: 100%;
    }

    .nav-menu li:hover {
        background-color: #0b2a45;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    #fundo {
        transition: 0.2s ease-in-out;
        height: auto;
        min-height: 90vh;
    }

    #fundo.active {
        opacity: 0.5;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: auto;
    }

    main #main-esquerda,
    main #main-direita {
        width: 100%;
    }

}

.modo-escuro {
    background-color: #161616 !important;
    color: #c1c1c1;
}